<section class="relative overflow-hidden">
    <div class="absolute top-0 left-0 w-full h-full">
        <img class="h-full w-full object-cover" src="{{ Image(options.page_header_background).src }}" alt="">
    </div>
    <div class="text-center md:text-left pl--container relative text-white reveal--fade-in">
        <h1>{{ post.title }}</h1>
    </div>
</section>